<?xml version="1.0" encoding="UTF-8"?>


<config>
	<default>
		<some>
			<random>
				<xpath>Here is another value.</xpath>
			</random>
		</some>
	</default>
	<stores>
		<french>
			<some>
				<random>
					<xpath>Bonjour, parlez-vous français?</xpath>
				</random>
			</some>

		</french>

	</stores>
</config>




